extends layout

block content
  .intro-overlay
    .pure-g.intro-row
      .pure-u-1.intro-column#intro-info-container
        p.intro-welcome-to BFSU Ling-Lunch
        img.pure-img.intro-logo(src="/logo.png")
        p.intro-instructions 语言学午餐两周年实时祝福墙
        p.intro-instructions Ling-Lunch 成立两周年，感谢您的支持 
        p.intro-instructions 您可以畅所欲言，您的留言将会在所有同时在线的设备上显示，随后便会消失
        p.intro-instructions 我们祝您圣诞&新年愉快，同时盼望您继续关注语言学午餐！
        input.usertag-box(type="text", autocomplete="off", autocorrect="off", autofocus=true, placeholder="输入一个昵称 (非必填)")
        br
        br
        small (若您的昵称与其他在线的昵称同名，您将不会被连入)
        p.usertag-preview []
      .pure-u-1.intro-column#deactivate-overlay-container
        a
          i.fa.fa-arrow-down.fa-4x.deactivate-overlay

  .chat-topic-container
    img.pure-img.header-logo(src="/logo.png")
    span.subreddit-link 
      a(href="http://linglunch.com") linglunch.com
    //- span.topic-label Discuss: 
    //-   span.chat-topic 
    //-     em
    //-       if (topic.url)
    //-         a(href=topic.url, target="_blank") #{topic.title}
    //-       else
    //-         | #{topic.title}
    a(href="#")
      i(id="soundVolume", class="fa fa-volume-off")
  .visualizer
    span.message.enjoy 欢迎！

  form.pure-form.main-chat-form(action="")
    input.message-prompt(type="text", placeholder="请留言。。。（100字以内）", autocomplete="off")
    button.pure-button.pure-button-primary.send-btn(type="submit")
      i.fa.fa-send.fa-lg

  .about-container.intro-active
    .github-box
      span.github-message 本页URL: http://2years.linglunch.com
    .user-count-container
      span.user-count 当前 #{users}
      |  人在线
    .about
      |  by 姬弘飞 (@ronfe)
      br
      | &copy; 2015   
      a(href="http://linglunch.com") 语言学午餐